@mixin rank-icon-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($map: $theme, $key: accent);
    $warn: map-get($map: $theme, $key: warn);
    $primary-color: mat-color($primary, default);
    $warn-color: mat-color($warn, default);

    mat-icon[color="primary"] {
        color: $primary-color
    }
    mat-icon[color="neutral"] {
        color: mat-color($primary, lighter);
        font-size: 10px;
        display: grid;
        justify-content: center;
    }
    mat-icon[color="warn"] {
        color: $warn-color;
    }
}