
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './app/pages/classic-league/classic-league.component.scss';
@import './app/pages/classic-league/rank-icon/rank-icon.component.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $footie-scope-primary: mat-palette($mat-indigo);
// $footie-scope-accent: mat-palette($mat-pink, A200, A100, A400);

$light-primary: mat-palette($mat-purple);
$light-accent: mat-palette($mat-green); 

// The warn palette is optional (defaults to red).
$light-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$footie-scope-light-theme: mat-light-theme((
  color: (
  primary: $light-primary,
  accent: $light-accent,
  warn: $light-warn
  )));

$footie-scope-dark-theme: mat-dark-theme((
  color: (
  primary: $light-primary,
  accent: $light-accent,
  warn: $light-warn
  )));

@mixin custom-components-theme($theme) {
  @include rank-icon-theme($theme);
  @include classic-league-theme($theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (prefers-color-scheme: light) {
  @include angular-material-theme($footie-scope-light-theme);
  @include custom-components-theme($footie-scope-light-theme);
}

@media (prefers-color-scheme: dark) {
  @include angular-material-theme($footie-scope-dark-theme);
  @include custom-components-theme($footie-scope-dark-theme);
}

