<div class="titleRow">
    <h1 class="mat-h1"> {{league?.league?.name}} </h1>
</div>
<table mat-table #ClassicLeagueTable [dataSource]="standings">
    <ng-container matColumnDef="rank_icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let standing">
            <footie-sc-rank-icon [current]="standing.rank" [previous]="standing.last_rank"></footie-sc-rank-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef> Rank </th>
        <td mat-cell *matCellDef="let standing"> 
            {{standing.rank}}
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Team Name & Manager </th>
        <td mat-cell *matCellDef="let standing"> 
            <strong>{{standing.entry_name}}</strong>
            <p>{{standing.player_name}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="gw_points">
        <th mat-header-cell *matHeaderCellDef> GW </th>
        <td mat-cell *matCellDef="let standing"> 
            <p>{{standing.event_total}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="total_points">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let standing"> 
            <p>{{standing.total}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="points_to_next">
        <th mat-header-cell *matHeaderCellDef> To Next </th>
        <td mat-cell *matCellDef="let standing; let i = index"> 
            <p>{{i>=1 ? standings[i-1].total - standing.total : 0}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="points_to_top">
        <th mat-header-cell *matHeaderCellDef> To Top </th>
        <td mat-cell *matCellDef="let standing; let i = index"> 
            <p>{{i>=1 ? standings[0].total - standing.total : 0}}</p>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['rank_icon','rank', 'name', 'gw_points', 'total_points', 'points_to_next', 'points_to_top']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['rank_icon', 'rank', 'name', 'gw_points', 'total_points', 'points_to_next', 'points_to_top'];"></tr>
</table>